body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

#movingObject {
    position: absolute;
    z-index: 99999999;
    margin-top:  -35px;
    margin-left: 500px;
}

.header {
    height: 40vh;
    background-image:
            linear-gradient(to right bottom,
            rgba(76, 216, 255, 0.8),
            rgba(217, 148, 30, 0.8)),
            url('https://cdn.midjourney.com/3da3e00e-f97f-44ca-846c-6b75f03b1872/0_2.png');

    background-size: cover;
    background-position: top;
    position: relative;

    /*Use this tool for clip-path https://bennettfeely.com/clippy/ */
    clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    color: #000000;
}

#colorRed {
    margin-top: -100px;
    margin-left: 200px;
}

#colorPink {
    margin-left: 550px;
}

#colorGreen {
    margin-top: -150px;
    margin-left: 600px;
}

#colorYellow {
    margin-left: 350px;
}

#buttonPad {
    border: 1px solid red;
    display: flex;
}

#upBtn {
    margin-top: 200px;
    margin-left: 300px;
}

#leftBtn {
    margin-left: -220px;
    margin-top: -250px;
}

#rightBtn {
    margin-left: 430px;
}

#downBtn {
    margin-left: 300px;
}

footer {
    margin-top: 250px;
    background-color: cornflowerblue;
}

.brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.brand { font-size: 20px; }

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
    color: black;

}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(7, 0, 0);
}

.btn-white {
    background-color: #fff;
    color: #777;
    font-size: 19px;
}

@media (min-width: 1001px) {
    #upBtn {
        display: none;
    }
    #rightBtn {
        display: none;
    }
    #downBtn {
        display: none;
    }
    #leftBtn {
        display: none;
    }
}